body {
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 16px;
    margin-left: 30%;
    margin-right: 30%;
}

body.sw-mobile {
    margin-left: 7px;
    margin-right: 7px;    
}

noscript {
    display: block;
    background-color: #fee;
    color: #300;
    font-size: 1.6em;
    margin: 40px;
    padding: 10px;
}

a {
    color: #600;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

a:hover {
    background-color: #eee;
}

.header {
    margin-top: 60px;
    margin-bottom: 60px;
}

.header h1 {
    text-align: center;
    margin-bottom: 0;
}

.sw-mobile header h1 {
    text-align: left;
}

.header h1 a {        
    border-bottom: 1px solid #999;
    padding-left: 5px;
    padding-right: 5px;    
}

.header #description {
    margin-top: 3px;
    color: #666;
    text-align: center;
    font-size: 1.1em;    
    font-style: italic;
}

#posts {

}

#posts .sw-post .sw-post-content {
    padding: 0 5px 0 12px;
}

#posts .sw-post .sw-post-content p {
    line-height: 1.3em;
}

#posts .sw-post .sw-post-content pre {
    font-size: 0.9em;
}

h2.sw-post-title {
    margin-top: 80px;
}

h2.sw-post-title a {
    color: #333;
}

.sw-mobile h2.sw-post-title {
    margin-top: 40px;
}

.sw-post-info {
    display: block;
    color: #444;
    font-size: 0.9em;
    border-top: 1px solid #ddd;
    padding: 4px;
}

.sw-post-info div, 
.sw-post-info > ul,
.sw-post-info > ul > li {
    display: inline;
}

.sw-post-info a {
    border-bottom: none;    
}

.sw-post-info .sw-datetime {
    padding-left: 3px;
    color: #333;
}

.sw-post-info .sw-post-links {
    float: right;
}

.sw-post-info .sw-post-links > div {
    margin-left: 5px;
}

.sw-post-info .sw-datetime:hover {
    background-color: #eee;
}

.sw-post-info ul.sw-post-tags {
    display: block;
    padding-left: 0;
    margin-top: 2px;
    margin-bottom: 0;
}

.sw-post-info ul.sw-post-tags li {
    margin-right: 5px;
}

.sw-post-info ul.sw-post-tags li a {

}

#posts-list {
    position: absolute;
    right: 73%;
    top: 208px;
}

#posts-list ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
    border-right: 1px solid #ddd;
    padding: 6px 12px 10px 0;
    font-size: 0.95em;
    width: 150px;
}

#posts-list ul li {
    padding-bottom: 10px;
}

#posts-list ul li a {
    border-bottom: none;
}

#tagcloud {
    position: absolute;
    left: 71%;
    top: 208px;
}

#tagcloud ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: left;
    padding: 5px 0 0 0;
    font-size: 0.8em;
    width: 175px;    
}

#tagcloud ul li {
    float: left;
    padding-left: 13px;
}

#tagcloud ul li a {
    border-bottom: none;
}

.sw-mobile #posts-list {
    position: inherit;
    right: 0;
}

.sw-mobile #posts-list ul {
    text-align: left;
    padding: 0;
    border: none;
    list-style: none;
}

.sw-mobile #tagcloud {
    position: inherit;
    right: 0;
    margin-top: 20px;
}

#copyright {
    border-top: 1px solid #666;
    margin-top: 60px;
    font-size: 0.8em;
    text-align: justify;
}

#tagcloud ul li a.sw-tagcloud-tag-level-rare {
    font-size: 0.8em;
}

#tagcloud ul li a.sw-tagcloud-tag-level-repeated {
    font-size: 0.85em;
}

#tagcloud ul li a.sw-tagcloud-tag-level-recent {
    font-size: 1em;
}

#tagcloud ul li a.sw-tagcloud-tag-level-frequent {
    font-size: 1.1em;
}

#tagcloud ul li a.sw-tagcloud-tag-level-common {
    font-size: 1.3em;
}

#tagcloud ul li a.sw-tagcloud-tag-level-popular {
    font-size: 1.5em;
}

#tagcloud ul li a.sw-tagcloud-tag-level-massive {
   font-size: 1.7em;
}
