body {
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 16px;
    margin-left: 30%;
    margin-right: 30%;
}

body.sw-mobile {
    margin-left: 5px;
    margin-right: 5px;    
}

a {
    color: #600;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

a:hover {
    background-color: #eee;
}

.header {
    margin-top: 60px;
    margin-bottom: 60px;
}

.header h1 {
    text-align: center;
    margin-bottom: 0;
}

.header h1 a {        
    border-bottom: 1px solid #999;
    padding-left: 5px;
    padding-right: 5px;    
}

.header #description {
    margin-top: 3px;
    color: #666;
    text-align: center;
    font-size: 1.1em;    
    font-style: italic;
}

#posts {

}

#posts .sw-post .sw-post-content {
    padding: 0 5px 0 12px;
}

#posts .sw-post .sw-post-content p {
    line-height: 1.3em;
}

#posts .sw-post .sw-post-content pre {
    font-size: 0.9em;
}

h2.sw-post-title {
    margin-top: 60px;
}

h2.sw-post-title a {
    color: #333;
}

.sw-post-info {
    display: block;
    color: #999;
    font-size: 0.9em;
    border-top: 1px solid #ddd;
    padding: 4px;
}

.sw-post-info div, 
.sw-post-info > ul,
.sw-post-info > ul > li {
    display: inline;
}

.sw-post-info a {
    border-bottom: none;    
}

.sw-post-info .sw-datetime {
    padding-left: 3px;
    color: #003;
}

.sw-post-info .sw-post-links {
    float: right;
}

.sw-post-info .sw-post-links > div {
    margin-left: 5px;
}

.sw-post-info .sw-datetime:hover {
    background-color: #eee;
}

.sw-post-info ul.sw-post-tags {
    display: block;
    padding-left: 0;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 0.8em;
}

.sw-post-info ul.sw-post-tags li {
    margin-right: 5px;   
}

.sw-post-info ul.sw-post-tags li a {

}

#posts-list {
    position: absolute;
    right: 72%;
    top: 168px;
}

#posts-list ul {

}

#posts-list ul li {

}

#tagcloud {
    position: absolute;
    left: 72%;
    top: 168px;
}

#tagcloud ul {
}

#tagcloud ul li {
}

.sw-mobile #posts-list {

}

.sw-mobile #tagcloud {

}

#copyright {
    border-top: 1px solid #666;
    margin-top: 20px;
    font-size: 0.8em;
    text-align: justify;
}
